body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #1da1f2;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin: 10px 0;
}

main {
    width: 80%;
    margin: 20px auto;
}

.blog-post {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.blog-post:hover{
    background-color: #ccc;
}

.blog-post h2 {
    font-size: 24px;
    margin: 0;
}

.blog-post p {
    font-size: 16px;
    margin: 10px 0;
}

.custom-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.share-button {
    background-color: #1da1f2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.share-button:hover {
    background-color: #0c89db;
}
